/*DEFAULT STYLING OF ALL WEBPAGE ELEMENTS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*STYLING OF THE SCROLL BEHAVIOUR OF OUR WEBPAGE*/
html{
    scroll-behavior: smooth;
}

/*STYLING FOR NAVIGATION*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    top: 0;
    position: sticky;
}

/*STYLING OF UNLISTED LIST ELEMENTS*/
.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

/*STYLING OF LISTED ELEMENTS WITHIN UNLISTED ELEMENT*/
.navbar ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.0rem;
    font-weight: bold;
}

/*STYLING OF ANCHOR TAGS WITHIN LISTED ELEMENTS*/
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
}

/*STYLING OF NAVIGATION ONCE THE ACTION OF CURSOR "HOVERS" OVER SAID ELEMENT*/
.navbar ul li a:hover {
    background-color: limegreen;
    color: white;
    box-shadow: 0 0 10px white;
}

/*STYLING OF HOME ELEMET*/
#home {
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

/*STYLING OF BACKGROUND OF HOME ELEMENT*/
#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/slider.jpg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

/*STYLING OF THE MAIN BOX ELEMENT CONTAINING THE HEADER*/
.main {
    display: flex;
    flex-direction: column;
    border: 0px solid white;
    align-items: center;
    position: absolute;
    top: 50%;
}

/*STYLING OF THE HEADER TEXT ITSELF*/
.header {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 40px 0px;
    color: white;
}

/*ABOUT ME SECTION*/
#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    width:auto;
    background-color: white;
    color: black;
}

/*STYLING BOX THAT CONTAINS ABOUT ME SECTION*/
#pic {
    display: inline-flex;
    box-shadow: 0 0 10px gray;
}

/*STYLING THE IMAGE WITHIN PICTURE SECTION*/
#pic img {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px gray;
}

/*STYLING THE INRO TEXT HEADER*/
#intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;

}

/*STYLING THE TEXT WITHIN INTO HEADER*/
#intro h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    float: right;
}

/*STYLING OF ALL HEADINGS*/
.heading {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*SKILLS SECTION*/
#skills {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: black;
    border-style: double;
}

/*STYLING OF ROW ELEMENT CONTAINING BOX*/
.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/*STYLING OF BOX ELEMENT CONTAINING ALL SKILLS*/
.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(84, 250, 84) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

/*STYLING OF THE SAME BOX ELEMENT WHEN ACTION OF CURSOR IS 'HOVERING'*/
.box:hover {
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px rgb(35, 255, 24);
}

/*STYLING OF IMAGES WIHTIN BOX ELEMENT*/
.box img {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}

/*PROJECTS SECTION*/
.projects {
    display: flex;
    flex-wrap: column;
    background-color: black;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
}

/*STYLING OF WORK SECTION THAT CONTAINS IMAGES*/
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: 50px;
    border-style: double;
}

/*STYLING OF THE IMAGES THEMSELVES WITHIN WORK SECTION*/
.work img {
    width: 350px;
    height: 250px;
    margin: 10px;
}

/*CONTACT ME*/
#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

/*STYLING OF FORM IN CONTACT ME*/
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

/*STYLING OF INPUT BOXES*/
.input {
    padding: 10px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

/*STYLING OF TEXT IN TEXT BOX*/
#msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

/*STYLING OF SEND BUTTON IN CONTACT SECTION*/
#send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

/*FURTHER STLYING OF SEND BUTTON ONCE ACTION OF 'HOVER' IS MADE BY CURSOR*/
#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(35, 255, 24);
}

/*FOOTER SECTION*/
footer {
    display: flex;
}

/*STYLING OF TEXT IN FOOTER*/
.author {
    text-align: center;
    margin-left: 42%;
}

/*STYLING OF SOCIAL MEDIA ICONS IN FOOTER*/
.social {
    border: 1px;
    border-style: solid;
}








